<div class="cookie-container">
	<div class="container">
		

	<p>
		We use cookies in this website since they are necesary to provide the service. If you do not agree please leave this website and remove the 	 cookies from your browser.If you want to learn more about how we use the cookies you can in the following <a href="#"> Link</a>
	</p>
	<button class="cookie-button">
		I accept the cookies
	</button>	
	</div>
</div>

<script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>